/* General Styles for Mobile */
@media (max-width: 700px) {
  .content {
    padding: 2rem;
  }

  .grid {
    grid-template-columns: 1fr;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem;
  }

  .card h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .center {
    padding: 4rem 0;
  }

  .description {
    font-size: 0.9rem;
    text-align: center;
  }

  .description p {
    padding: 1rem;
    font-size: 0.85rem;
  }
}

/* Tablet Optimization */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
    gap: 1rem;
  }

  .card {
    padding: 1.5rem;
  }

  .card h2 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
}

/* Large Screens */
@media (min-width: 1121px) {
  .content {
    padding: 4rem;
  }

  .card {
    padding: 2rem;
  }

  .card h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
